<!-- src/app/app.component.html -->
<div class="app-container">
  <header class="app-header">
    <h1>Juego de Completar Números</h1>
    <p>Aplicación para ayudar a pacientes en ejercicios cognitivos</p>
  </header>

  <!-- Aquí se carga el componente correspondiente según la ruta -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <p>&copy; 2024 Juego Cognitivo. Todos los derechos reservados.</p>
    <P>Desarrollado por Vertex Quality</P>
  </footer>
</div>
